<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>ocPortal</display-name>

    <!-- spring begin    -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.XmlWebApplicationContext</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <!--  1 过滤掉sesssionId，不会再请求的时候暴露出来jsessionid filter -->
    <filter>
        <filter-name>jsessionidFilter</filter-name>
        <filter-class>com.online.college.common.web.DisableUrlSessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>jsessionidFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--  2 编码和解码utf-8
    Character Encoding filter -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
<!--3 类似于平时普通的servlet,
j具体的定义在src下面的app-servlet.xml文件中，立刻启动,-->
    <servlet>
        <servlet-name>app-servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:app-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
<!-- 4 所有的*.html的页面都会经过mvc的app-servlet区转发，不是就算了走吧-->
    <servlet-mapping>
        <servlet-name>app-servlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <!-- 5  ShiroFilter start，所有的都拦截 -->
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <!--啥意思？？？请求，转发-->
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <!-- ShiroFilter end -->
<!--6 spring对bean容器管理的listener-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
<!-- 7 session的有效的时间是120min-->
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
<!--8 欢迎页面-->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
<!-- 9 找不到文件的跳转页面-->
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.html</location>
    </error-page>
    <!-- 10 内部服务错误的跳转页面-->
    <error-page>
        <error-code>500</error-code>
        <location>/error/500.html</location>
    </error-page>
    <!--11 http请求 405错误 方法不被允许 (Method not allowed)-->
    <error-page>
        <error-code>405</error-code>
        <location>/error/405.html</location>
    </error-page>

</web-app>

