<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--装换骆驼命名法，数据的字段有下划线。去掉下划线，第一个字母变大写
        javabean的属性，装换bean,-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>